$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
.el-dropdown-link{
    border:none!important;
}
.swiper-slide { height: auto!important; }

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #8e8e8e;
    overflow-x: hidden;
    font-family: 'Montserrat', serif !important;
    font-style: normal !important;
}

.cursor {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
}
.full{
    width: 100%;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-inline {
    display: inline-flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    display: flex;
    justify-content: end;

}
.cursor-pointer{
    cursor: pointer;
}
.column {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.ai-center {
    align-items: center;
}

.gab-5 {
    gap: 5px;
}

.gab-10 {
    gap: 10px;
}

.gab-15 {
    gap: 15px;
}

.gab-20, .gab-20-0, .gab-20-5, .gab-20-10 {
    gap: 20px;
}

.gab-30 {
    gap: 30px;
}

.gab-50 {
    gap: 50px;
}

.gab-80 {
    gap: 80px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

svg {
    transition: transform 0.6s ease;
}

.scope:hover {
    transform: scale(1.1);
}




@media only screen and (min-width: 768px) {



}
.m-show{
    display: block;
}
.m-show-flex{
    display: flex;
}
@media only screen and (max-width: 767px) {
    .m-show{
        display: none;
    }

    .m-show-flex{
        display: none;
    }


}
.info{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
    ul{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li{
            list-style: disc;
        }
    }
}
#litepms .widget-form, .litepmsform .widget-form {

    border-radius: 20px;
}
#litepms .widget-form .submit, .litepmsform .widget-form .submit {
    border: 1px solid #00BA57!important;
    background: #00BA57!important;
    color: #ffffff!important;
    @include adaptiv-font(14, 12);
    font-family: Montserrat, serif;
    outline: none;
}
.litepms-dateout{
    margin-top: 1rem;
}
.litepms-datein,.litepms-dateout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hasDatepicker{
    outline: none!important;
    border: none!important;
}
#litepms .widget-form .submit, .litepmsform .widget-form .submit
{
        display: inline-flex!important;
        align-items: center!important;
        justify-content: center!important;
        box-sizing: border-box!important;
        padding: 0 25px!important;
    width: 100%;
        font-family: Montserrat, serif!important;
        outline: none!important;

        @include adaptiv-font(14, 12);

        text-decoration: none!important;


        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%)!important;
        cursor: pointer!important;
        user-select: none!important;
        appearance: none!important;
        touch-action: manipulation!important;
        vertical-align: top!important;
        border-radius: 7px!important;
        font-style: normal!important;
        font-weight: 400!important;
        line-height: 0px!important;
        height: 45px!important;
        transition: all 0.2s!important;


        &:focus-visible {
            transition: all 0.2s;
            outline: none;
        }
        &:hover {
            transition: all 0.2s;
            transform: scale(1.04);
        }

        &:disabled {
            transition: all 0.2s;
            cursor: not-allowed;
        }





        border: 1px solid #00BA57;
        background: #00BA57;
        color: #ffffff;
        &:focus-visible {
            border: 1px solid #00BA57;

        }
        &:hover {

            border: 1px solid #00BA57;
            background-color: #00BA57;
            color: #ffffff;
        }
        &:active {
            background-color: #00BA57;
            color: #00BA57;
        }
        &:disabled {
            background-color: #eee;
            border-color: #eee;
            color: #444;

        }


}
