$maxWidth: 1200;
$blue:#387BFF;
$blueLight:#E6EEFF;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
//.btn-blue,.btn-light {
//    margin: 0 auto;
//    display: inline-flex;
//    align-items: center;
//    justify-content: center;
//    box-sizing: border-box;
//    padding: 0 25px;
//    font-family: "TT Interfaces", serif;
//    outline: none;
//
//    font-size: calc(14px + 2* 100vw / 1200);
//
//    text-decoration: none;
//
//
//    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
//    cursor: pointer;
//    user-select: none;
//    appearance: none;
//    touch-action: manipulation;
//    vertical-align: top;
//
//    border-radius: 12px;
//    font-style: normal;
//    font-weight: 350;
//    line-height: 0px;
//
//    height: 48px;
//    transition: all 0.2s;
//}
//.btn-light{
//    border: 1px solid $blueLight;
//    background: $blueLight;
//    color: $blue;
//    &:focus-visible {
//        border: 1px solid $blue;
//        outline: none;
//    }
//    &:hover {
//        transition: all 0.2s;
//        transform: scale(1.04);
//        border: 1px solid $blue;
//        background-color: $blue;
//        color: $blueLight;
//    }
//    &:active {
//        background-color: $blueLight;
//        color: $blue;
//    }
//    &:disabled {
//        background-color: #eee;
//        border-color: #eee;
//        color: #444;
//        cursor: not-allowed;
//    }
//}
//.btn-blue{
//    border: 1px solid $blue;
//    background: $blue;
//    color: $blueLight;
//    &:focus-visible {
//        border: 1px solid $blueLight;
//        outline: none;
//    }
//    &:hover {
//        transition: all 0.2s;
//        transform: scale(1.04);
//        border: 1px solid $blueLight;
//        background-color: $blueLight;
//        color: $blue;
//    }
//    &:active {
//        background-color: $blue;
//        color: $blueLight;
//    }
//    &:disabled {
//        background-color: #eee;
//        border-color: #eee;
//        color: #444;
//        cursor: not-allowed;
//    }
//}
//
//
//@media only screen and (max-width: 768px) {
//    .btn-blue ,.btn-light{
//        margin-bottom: 25px;
//    }
//}
//@media only screen and (max-width: 450px) {
//    .btn-blue ,.btn-light{
//
//        width: 90%;
//        margin: 0 auto;
//        margin-bottom: 25px;
//    }
//}
